altair==4.1.0
attrs==19.3.0
Automat==20.2.0
autopep8==1.4.4
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
beautifultable==0.8.0
bleach==3.3.0
bokeh==2.1.0
branca==0.4.1
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-spinner==0.1.10
colorlog==4.1.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
dacite==1.5.0
datapane==0.6.6
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
entrypoints==0.3
extract-emails==3.0.5
flit-core==2.3.0
folium==0.11.0
git-hammer==0.3.1
gitdb==4.0.5
GitPython==3.1.3
globber==0.2.1
html5lib==1.1
hyperlink==19.0.0
idna==2.9
import-ipynb==0.1.3
importlib-metadata==1.6.1
importlib-resources==1.5.0
incremental==17.5.0
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
json-lines==0.5.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.2.0
lxml==4.5.1
MarkupSafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.3.0
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.18.1
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.8.1
pluggy==0.13.1
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Protego==0.1.16
ptyprocess==0.6.0
py==1.8.1
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
PyGithub==1.51
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.2
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
queuelib==1.5.0
requests==2.23.0
retrying==1.3.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-learn==0.22.2.post1
scipy==1.4.1
Scrapy==2.1.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
SQLAlchemy==1.3.17
SQLAlchemy-Utils==0.36.6
stringcase==1.2.0
sweetviz==1.0a7
tabulate==0.8.7
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
Twisted==20.3.0
typing-extensions==3.7.4.2
urllib3==1.25.8
validators==0.15.0
vega-datasets==0.8.0
w3lib==1.22.0
wcwidth==0.2.4
webencodings==0.5.1
wrapt==1.12.1
zipp==3.1.0
zope.interface==5.1.0
